.song-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1em;
    padding: 1em;
    border-radius: 8px;
    width: 100%;
    background-color: #44475A;
}

.song-info{
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.text-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4em;
    width: 100%;

}

.album-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.song-cover{
    margin-left: 4em;
}

.artist-name{
    font-family: 'Inter';
    font-style: italic;
}

.song-name{
    font-family: 'Inter';
    font-weight: bold;
}

.song-index{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 3em;
    margin-left: 1em;
}

.song-info-text{
    font-family: 'Inter';
    font-size: 2em;
}

.album-info-text{
    font-family: 'Inter';
    font-size: 1.5em;
    font-weight: normal;
}