.prompts-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #50FA7B;
}

.prompt-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-bottom: 2em;
}

.prompt-descriptor{
    font-family: 'Inter';
}

.prompt-input{

    height: 3em;
    padding: 1em;
    width: 100%;
    font-family: 'Inter';
    background-color: #44475A;
    border: none;
    border-radius: 3px;
    
}

#landing-page-title{
    font-family: 'Inter';
    color: #50FA7B;
    font-size: 4em;
}

#landing-page-button{
    background-color: #50FA7B;
    color: #282A36;
    font-family: 'Inter';
    font-weight: bold;
    margin-top: 1em;

}